@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="bodycontent">
        <div class="card-group">
            <div class="card m-1">
                <div class="card-header">
                    Sales
                </div>
                <div class="card-body">
                    lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25
                </div>
                <div class="card-footer">
                    Card Footer
                </div>
            </div>
            <div class="card  m-1">
                <div class="card-header">
                    Cash
                </div>
                <div class="card-body">
                    lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25
                </div>
                <div class="card-footer">
                    Card Footer
                </div>
            </div>
            <div class="card  m-1">
                <div class="card-header">
                    Credit Receiable
                </div>
                <div class="card-body">
                    lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25
                </div>
                <div class="card-footer">
                    Card Footer
                </div>
            </div>
            <div class="card m-1">
                <div class="card-header">
                    Online Payments
                </div>
                <div class="card-body">
                    lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25 lorem25
                </div>
                <div class="card-footer">
                    Card Footer
                </div>
            </div>            
        </div>
        

    </div>
</div>

